<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Pick the character</h4>
</div>
<div class="modal-body">
  <form (submit)="goSearch()">

    <div class="text-center" *ngIf="heroFound">
      <img [src]="fullImage" class="img-thumbnail m-5" style="width: 200px;border-radius: 50%"/>
      <h6>{{heroFound.name}}</h6>
    </div>

    <div class="form-group" *ngIf="!heroFound">
      <input id="heroName" name="heroName" class="form-control" [(ngModel)]="heroName"
             placeholder="Type character name..."/>
    </div>

    <div *ngIf="loading" class="alert alert-info" role="alert">
      Loading...
    </div>
    <div *ngIf="error && !loading" class="alert alert-danger" role="alert">
      This character doesn't exist!
    </div>
  </form>
</div>

<div class="modal-footer">
  <button *ngIf="!heroFound" type="button" class="btn btn-primary" (click)="goSearch()">Search</button>
  <button *ngIf="heroFound" type="button" class="btn btn-danger" (click)="clear()">Clear</button>
  <button *ngIf="heroFound" type="button" class="btn btn-success animated pulse infinite" (click)="pickFile()">Pick
  </button>

</div>
