
#icon{
    width: 120px;
}

#chooseCharacter{
    background-color: white;
    width: 300px;
    height: 220px;
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin: -90px 0 0 -160px;
}

#character1{
    margin-right: none !important;
    margin-left: none !important;
}

.card{
    max-width: 26rem !important;
}

td{
    padding: 4px;
}

#gameTable{
    background-color: white !important;
    margin: 1px;
}

#gameLine{
    border-color: white;
}

#gameTable td{
    padding: 5px;
    border: 1px solid black;
    width: 130px;
    height: 130px;
}