<div class="container">
  <div *ngIf='chooseCharacter' id='chooseCharacter'>
    <form class="form-inline">
      <div class="form-group mx-sm-3 mb-2">
        <h4>Choose The Players</h4>
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <input name="character1" id="character1" [(ngModel)]="character1" type="text" class="form-control"
          placeholder="Character #1">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <input name="character2" id="character2" [(ngModel)]="character2" type="text" class="form-control"
          placeholder="Character #2">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <button type="submit" class="btn btn-primary mb-2" (click)='start()'>OK</button>
      </div>
    </form>
  </div>
  <div *ngIf='game' id='game'>
    <div id='card' class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">
        <div *ngIf='characters.length > 0'>
          <table>
            <tr>
              <td>
                <img [src]='characters[0].image' id='icon' class="rounded float-left">
              </td>
              <td>
                <h5>{{ characters[0].name }} X {{ characters[1].name }} </h5>
              </td>
              <td>
                <img [src]='characters[1].image' id='icon' class="rounded float-right">
              </td>
            </tr>
          </table>

        </div>
      </div>
      <div class="card-body">
        <table id='gameTable'>
          <tr id='gameLine'>
            <td id='a1'>

            </td>
            <td id='a2'>

            </td>
            <td id='a3'>

            </td>
          </tr>
          <tr id='gameLine'>
            <td id='b1'>

            </td>
            <td id='b2'>

            </td>
            <td id='b3'>

            </td>
          </tr>
          <tr id='gameLine'>
            <td id='c1'>

            </td>
            <td id='c2'>

            </td>
            <td id='c3'>

            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>