<div class="container-fluid p-5 animated slideInDown" id="top">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h1 class="text-white animated zoomIn" style="text-shadow: 1px 1px 10px #000;">TIC TAC TOE</h1>
    </div>
    <div class="col-xs-12 col-md-2 text-center">

      <button *ngIf="!playerOne" class="btn btn-primary btn-lg animated slideInLeft" (click)="pickPlayer(1)">Pick Player
        #1
      </button>

      <ng-container *ngIf="playerOne">
        <img class="img-thumbnail m-5 animated infinite" [class.pulse]="currentPlayer === 1"
             [class.waiting]="currentPlayer === 2"
             style="width: 50%;border-radius: 50%"
             [src]="fullImagePlayerOne">
        <h5>{{playerOne.name}} {{playerOnePoint}}</h5>
      </ng-container>

    </div>
    <div class="col-xs-12 col-md-2 text-center">
      <button *ngIf="!playerTwo" class="btn btn-primary btn-lg animated slideInRight" (click)="pickPlayer(2)">Pick
        Player
        #2
      </button>

      <ng-container *ngIf="playerTwo">
        <img class="img-thumbnail m-5 animated infinite" [class.pulse]="currentPlayer === 2"
             [class.waiting]="currentPlayer === 1"
             style="width: 50%;border-radius: 50%"
             [src]="fullImagePlayerTwo">
        <h5>{{playerTwoPoint}} {{playerTwo.name}} </h5>
      </ng-container>

    </div>
  </div>
  <div class="text-center" *ngIf="(playerOne && playerTwo) && screen === screenType.HOME">
    <button class="btn btn-primary btn-lg  animated pulse infinite" (click)="startGame()">Start</button>
  </div>

</div>

<div class="container">
  <ng-container *ngIf="screen == screenType.GAME">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-md-4">

        <div class="p-5" *ngIf="!winner">
          <h2 *ngIf="turns == 0"
              class="animated tada text-center">{{currentPlayer === 1 ? playerOne.name : playerTwo.name}} starts.</h2>

          <h2 *ngIf="turns > 0 && !winner" class="text-center">{{currentPlayer === 1 ? playerOne.name : playerTwo.name}}
            's turn.</h2>
        </div>

        <table id="gameTable">
          <tr *ngFor="let line of grid; let lineIndex = index">
            <td class="text-center animated infinite"
                [class.flash]="winner && highlight.indexOf([lineIndex, gridIndex].join('')) > -1"
                *ngFor="let column of line; let gridIndex = index"
                (click)="choose(lineIndex, gridIndex)">
              <h2 class="text-center">{{column}}</h2>
            </td>
          </tr>
        </table>

        <h4 *ngIf="winner" class="text-center p-5">
          <button class="btn btn-primary btn-md" (click)="startGame()">Play again!</button>
          <button class="btn btn-secondary btn-md" (click)="restart() ">Restart</button>
        </h4>

      </div>
    </div>
  </ng-container>
</div>
