<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Choose the characters</h4>
  
</div>
<div class="modal-body">
  <form>
    <div class="form-group mb-2">
      <input type="text" class="form-control" [(ngModel)]="characters.name" placeholder="Character 1">
    </div>
    <div class="form-group mb-2">
      <input type="text" class="form-control" [(ngModel)]="characters.name" placeholder="Character 2">
    </div>
  </form>
  <ul *ngIf="characters" class="text-white">
    <li *ngFor="let character of characters">
      <b>{{character.name}}</b>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="app.getAllCharacters()">OK</button>
</div>
